
      
      .blog{
        text-align: center;
        font-size: 20px;
        background-color: rgb(198, 241, 7);
        border: 18px solid rgb(41, 12, 44);
        border-radius: 20px;
        margin: 10px;
        padding: 40px;
         display:inline-block;
        width: 30%; 
        
      }
      p{
        text-align: center justify;
        color: black;
      }
